*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color:#F1F5F8 !important;
}

.imgDiv{
width: 150px;
height: 150px;
border-radius: 50%;
border: 2px solid gray;
}

.imgDiv img{
width: 100%;
height: 100%;
border-radius: 50%;
object-fit: cover;
}

.box{
  width: 80vw;
  height: 450px;
  max-width: 800px;
  text-align: center;
  margin: auto;
  /* display: flex; */
  /* overflow: hidden; */
  /* border: solid; */
}

.left{
  position: absolute;
  /* border: solid; */
  left: 0;
  bottom: 30%;
  font-size: 3rem !important;
  cursor: pointer;
}

.left:hover{
  color: red;
}

.right{
  position: absolute;
  /* border: solid; */
  right: 0;
  bottom: 30%;
  font-size: 3rem !important;
  cursor: pointer;
}

.right:hover{
  color: red;
}

.section-center {
  margin: 0 auto;
  margin-top: 4rem;
  width: 80vw;
  height: 450px;
  max-width: 800px;
  text-align: center;
  position: relative;
  display: flex;
  overflow: hidden;
}

.review{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border: solid;
  transition: all 1s;
}

.review.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
.review.lastSlide {
  transform: translateX(-100%);
}
.review.nextSlide {
  transform: translateX(100%);
}